<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:each="game : ${game}" class="mt-2"> 
		<title th:text="${game.name}"></title>
	</div> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
</head>
<body>
	<header th:insert="blocks/header:: header"></header>	
    <main>
		<div th:each="game : ${game}" class="mt-2">

			<section class="py-3 text-center container">
				<div class="row py-lg-5">
				  <div class="col-lg-6 col-md-8 mx-auto">
					 <h1 th:text="${game.name}" class="fw-light"></h1>
						 <small th:text="'Артикул: ' + ${game.id}" class="text-muted"></small>
					 <p th:text="${game.description}" class="lead text-muted"></p>
					 <p>
						<a th:href="'/games/' + ${game.id} + '/edit'" class="btn btn-primary my-2">Изменить</a>
						<form th:action="'/games/' + ${game.id} + '/remove'" method="POST">
							<button class="btn btn-warning " type="submit">Удалить</button>
						</form><br>
						<p>
							<a href="/games" class="lead text-muted">Назад</a>
						 </p>
						
					 </p>
				  </div>
				</div>
			 </section>
			 
		</div>

	 </main>
	 <div th:insert="blocks/footer:: footer"></div>
</body>
</html>