<div th:fragment="block1"></div>

<div class="col">
	<div class="card shadow-sm">
	  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

	  <div class="card-body">
		 <p class="card-text">Название объекта исходя из вкладки</p>
		 <div class="d-flex justify-content-between align-items-center">
			<div class="btn-group">
				<a th:href="'/games'" class="btn btn-warning">Обновить</a>
			</div>
		 </div>
		 <div class="d-flex mt-2 justify-content-between align-items-center">
			<div class="btn-group">
				<a th:href="'/games'" class="btn btn-warning">Удалить</a>
			</div>
		 </div>
	  </div>
	</div>
 </div>