
<div th:fragment="header">
	<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
		<a href="/" class="d-flex p-3 px-md-4 mb-3 align-items-center text-dark text-decoration-none ">
		<span class="my-0 mr-md-auto font-weight-normal fs-4">Наш магазин</span>
		</a>

		<nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto font-weight-normal">
		<a class="me-3 py-2 text-dark text-decoration-none" href="/">Главная</a>
		<a class="me-3 py-2 text-dark text-decoration-none" href="/blog">Блог</a>
		<a class="me-3 py-2 text-dark text-decoration-none" href="/blog/add">Добавить статью</a>
		<a class="me-3 py-2 text-dark text-decoration-none" href="/contacts">Контакты</a>
		</nav>
	</div>
</div>
 